
#top {

    position: relative;
    width: 20%;
    left:40%;

}

#content {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;

}

#banner {
    position:relative;
    background: rgba(191, 39, 52, 0.65);
    width: 60%;
    height: 40%;
    padding: 16px;
    left: 16%;

}


.dropbtn {
    background-color: rgb(149, 34, 55);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 5px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    left: 1%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(203, 43, 33);
}

.swirl {
    width: 15%;
    position:absolute;
    top:0;

}

#swirl1 {
    right:5%;
}

#swirl2 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
}


.image {

    width: 100%;

}

.page_body {

    background-color: #d3d3d3;

}